# npm, pnpm, jspm
# for adding yarn see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
node_modules/
.node_modules/
jspm_packages/
.npm
npm-debug.log*
.pnpm-debug.log*

# node
.node_repl_history
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# eslint
.eslintcache

# typescript
*.tsbuildinfo

# runtime data
pids
*.pid
*.seed
*.pid.lock

# operating systems
.DS_STORE
Thumbs.db

# editors
.vscode/
.vscode-test/
*.iml
.idea

# project
*.log*
*.env
*.env.test
**/data/*
!**/data/.gitkeep
!**/data/countries-states-cities.min.json
**/temp/*
!**/temp/.gitkeep
**/logs/*
!**/logs/.gitkeep
bin/
!bin/.gitkeep

# bot stuff
bot/commands/disabled/
modules/BearDB.js
modules/ConfigManager.js
