node_modules
jspm_packages
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.npm
.eslintcache
.node_repl_history
*.pid
*.seed
*.pid.lock
*.log
*.vscode
*.env
*.env.test
*.tgz
*.zip
*.7z
*.tar
**/data/*
!**/data/.gitkeep
**/temp/*
!**/temp/.gitkeep
**/logs/*
!**/logs/.gitkeep
