node_modules/
jspm_packages/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.npm
npm-debug.log*
.eslintcache
.node_repl_history
pids
*.pid
*.pid.lock
*.seed
*.log
*.vscode
*.env
*.env.test
*.tgz
*.zip
*.7z
*.tar
**/data/*
!**/data/.gitkeep
**/temp/*
!**/temp/.gitkeep
**/logs/*
!**/logs/.gitkeep
