[Unit]
Description=sandplate bot Service
After=network.target

[Service]
Type=Simple
User=sandplate
Group=bot
WorkingDirectory=/home/user/sandplate
ExecStart=node /home/user/sandplate/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target